@(title: String)(user: SystemUser)(display_date: String)
@import helper._

@main(title) {

	@header(title)(user)(display_date)("Home"){


	}

	<div id="Body" >
		<div class="container">
			<div class="row">
				<div class="span9">
					<h2>Comming Soon(?)</h2>

					<p>
						Thanks for trying this.<br>
						This page hasn't completed.<br>
						I will try to create Web Application for helping odd-job.
					</p>

					<h2>Todo list</h2>
					<ul>
			  			<li>Study Scala and Play Framework. (I will use Play)</li>
			  			<li>Create Design.</li>
			  			<li>Create Application Function.</li>
					</ul>
				</div>
				<div class="span3">
					<div style="border:1px solid #ccc;background:#f3f3f3;border-radius:5px;padding:10px;">
						<h2>Author</h2>
						<dl>
							<dd><img src="@routes.Assets.at("images/1073s.png")" style="border:1px solid #ccc;margin:10px 0;"></dd>
							<dt>Name</dt>
							<dd>1073</dd>
							<dt>Twitter</dt>
							<dd><a href="https://twitter.com/1073s">1073s</a></dd>
							<dt>My Site</dt>
							<dd><a href="http://1073.jp/">http://1073.jp/</a></dd>
						</dl>
					</div>
				</div>
			</div>
		</div>
	</div><!-- /#Wrapper -->

	@footer{

	}
}